.userCardBox {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(auto, 250px);
    gap: 50px;
    margin-top: 20px;
}

.dashTitles {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: var(--wp--preset--color--blue);
}