.navbarBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.activeLink {
    font-family: "Open Sans", serif;
    background-color: white;
    text-decoration: none;
    color: var(--wp--preset--color--purple);
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.062) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.17) 0px -2px 6px 0px inset;
}

.link {
    font-family: "Open Sans", serif;
    text-decoration: none;
    color: var(--wp--preset--color--white);
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.062) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.17) 0px -2px 6px 0px inset;
}

@media (min-width: 490px) and (max-width: 1024px) {
    .navbarBox {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .link,
    .activeLink {
        margin: 0;
        height: fit-content;
    }

    .navBarLinkText {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 490px) {
    .navbarBox {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .link,
    .activeLink {
        margin: 0;
        height: fit-content;
    }

    .navBarLinkText {
        display: none;
    }
}