.navbarBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.activeLink {
    background-color: white;
    text-decoration: none;
    color: var(--wp--preset--color--purple);
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: var(--wp--preset--color--white);
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (min-width: 490px) and (max-width: 1024px) {
    .navbarBox {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .link, 
    .activeLink {
        margin: 0;
        height: fit-content;
    }

    .navBarLinkText {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 490px) {
    .navbarBox {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .link, 
    .activeLink {
        margin: 0;
        height: fit-content;
    }

    .navBarLinkText {
        display: none;
    }
}