/* Card Container */
.pfc {
    width: 100%;
    min-width: 130px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 10px;
}

/* Profile Image */
.profileCardImg {
    display: block;
    aspect-ratio: 1;
    width: 90px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.133);
}

.profileTitleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Employee Name, Department, and Title */
.profileTitle {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    height: 60px;
    font-family: "Lato", serif;
    font-style: normal;

}

.profileTitle h2 {
    color: var(--wp--preset--color--dark-blue);
    font-weight: 700;
}

.profileTitle p {
    color: var(--wp--preset--color--vivid-purple);
    font-weight: 400;
    margin-bottom: 10px;
}

/* Vertical Line */
.vl {
    margin: 10px 0;
    border-bottom: 2px solid #ddd;
    width: 100%;
    flex-grow: 0;
}

/* Card Body */
.bawdy {
    width: 100%;
    text-align: left;
    margin: 10px 10px;
    font-size: 14px;
    color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textWrap {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-family: "Hind", serif;
    color: var(--wp--preset--color--dark-blue);
}

.textWrap i {
    color: var(--wp--preset--color--blue);
}

.textWrap:last-child {
    font-size: 13px;
}