.headerBox {
    width: 100%;
    padding: 20px;
    height: 8vh;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.title {
    color: white;
    text-align: center;
}

.userProfile {
    margin-right: 0;
}

.logoVisibility {
    display: none;
}

@media (min-width: 490px) and (max-width: 790px) {

}

@media (min-width: 320px) and (max-width: 490px) {
    .headerBox {
        position: fixed;
        top: 0;
        background-color: white;
        padding: 5px;
    }

    .logoVisibility {
        display: block;
    }
}