.layoutBox {
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 85vh;
}

.navbar {
    width: 25%;
    padding: 20px;
    border-right: 1px solid black;
}

.pages {
    padding: 20px;
    width: 75%;
}