.filterBar{
    margin: 20px auto;
    background: #f4f4f996;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.inputWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    transition: 0.2s ease; 
    
}

.inputWrapper input {
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    height: 20px;
}

.filterBox {
    display: flex;
}

.filterBox select {
    width: 100px;
    margin-right: 10px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
}

.filterBox button {
    background: white;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
}